<!doctype html>
{% load static %}
<html>
<head>
    <title>DjangoPolymerProject</title>
    <script src="{% static "bower_components/webcomponentsjs/webcomponents-lite.min.js" %}"></script>
    <link rel="import" href="{% static "bower_components/iron-flex-layout/iron-flex-layout-classes.html" %}">
{#    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>#}

    <style is="custom-style" include="iron-flex"></style>`


      <div class="layout horizontal">
        <div>One</div>
        <div>Two</div>
        <div>Three</div>
      </div>
<body>
</body>
</html>
